<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<!--meta http-equiv="refresh" content="30"--> 
</head>
<body>
{%for func in func_dicts%}
  {% if func['live'] %}
    <p>
      <div class="form-group">
	<form method="POST">
	  <label for="{{ func['title'] }}">{{ func['title'] }}</label>
	  <input name="{{ func['title'] }}" id="{{ func['title'] }}">
	  )
	  <input type="submit" value="Submit">
	</form>
      </div>
    </p>
  {% else %}
    <p>
      <a href="{{ func['link'] }}">{{ func['title'] }}</a>
    </p>
  {% endif %}
{%endfor%}
  <p>
    {% for line in display %}
    <p>{{ line }}</p>
    {% endfor %}
  </p>
</body>
</html>
