<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <!--meta http-equiv="refresh" content="30"-->
</head>
<body style="font-size:4vw;margin-left:20px;margin-right:20px;">
{%for route in route_dicts%}
  {% if route['live'] %}
    <p>
      <div class="form-group">
	<form method="POST">
	  <label for="{{ route['title'] }}">{{ route['title'] }}</label>
	  <input name="{{ route['title'] }}" id="{{ route['title'] }}"
		 style="font-size:3vw;">
	  {% if not route['script'] %}
	  )
	  {% endif %}
	  &nbsp;&nbsp;
	  <input type="submit" value="  Go  " style="font-size:3vw;">
	</form>
      </div>
    </p>
  {% else %}
    <p>
      <form method="POST">
	<label for="{{ route['title'] }}">{{ route['title'] }}</label>
	&nbsp;&nbsp;
	<input name="{{ route['title'] }}" id="{{ route['title'] }}"
	       type="submit" value="  Go  " style="font-size:3vw;">
      </form>
    </p>
  {% endif %}
{%endfor%}
  <p>
    {% for line in display %}
    <p>{{ line }}</p>
    {% endfor %}
  </p>
</body>
</html>
